<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>${title}</title>
		<style>
			body { font-family: segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,Verdana,sans-serif; background-color:black; color:white; }
			h1 { margin-top: 30px; }
			ul { padding: 0px; }
			li { list-style: none; margin-bottom: 2px; padding: 5px; border-bottom: 1px solid #ddd;  }
			.container { max-width: 600px; width: 100%; margin: 15px auto; }
			.panel { text-align: center; padding: 10px; border: 0px; border-radius: 5px; }
			.failed-bg  { color: white; background-color: #E25D6A; }
			.success-bg { color: white; background-color: #52B86A; }
			.failed  { color: #E25D6A; }
			.success { color: #52B86A; }
			.small { font-size: 80%; }
			.status { float: right; }
		</style>
	</head>
	<body>
		<div class='container'>
			<h1>Global status</h1>
			{% if outages == 0 %}
				<ul><li class='panel success-bg'>All Systems Operational</li></ul>
			{% else %}
				<ul><li class='panel failed-bg'>${outagenb} Outage(s)</li></ul>
			{% endif %}
			<h1>Services</h1>
			<ul>
			{% for service in services %}
				{% if service.operational %}
					<li>{{ service.name }} <span class='status success'>Operational</span></li>
				{% else %}
					<li>{{ service.name }} <span class='small failed'>({{ service.status }})</span><span class='status failed'>Disrupted</span></li>
				{% endif %}
				
			{% endfor %}
			</ul>
			<p class=small> Last check: {{ (date +"%Y/%m/%d %H:%M:%S") }}</p>
		</div>
	</body>
</html>
